.header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  background-color: $bg-principal;
  color: $font-white;
  position: sticky;
  top: 0;
  z-index: 999;
  &--logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
  }
  &--buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

//estilos generales
.btn {
  padding: 8px;
  cursor: pointer;
  &:hover {
    background-color: $bg-hover;
    color: $font-hover;
    border-radius: 3px;
  }
}