.main {
  background-color: $bg-principal;
  padding-bottom: 30px;
  .section-title {
    color: white;
    padding-top: 20px;
    padding-bottom: 15px;
    margin-left: 15px;
    #top-text {
      font-weight: bolder;
    }
  }
  .top {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    width: 98vw;
    &--item {
      width: 270px;
      
    }
  }
  .first {
    display: flex;
  }
  .second {
    display: flex;
  }
  .item {
    width: 250px;
    &:hover {
      transform: scale(1.2);
      transition: all .2s ease-out;
    }
    /* &:not(:hover) {
      transform: scale(-1.2);
      transition: all .2s ease-out;
    } */
  }
}

//estilos generales
.img {
  width: 100%;
}