.main {
  background-color: $bg-principal;
  padding-bottom: 30px;
  overflow-x: hidden;
  .section-title {
    color: white;
    padding-top: 20px;
    padding-bottom: 15px;
    margin-left: 15px;
    #top-text {
      font-weight: bolder;
    }
  }
  .top {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    width: 100%;
    &--item {
      width: fit-content;
      &:hover {
        z-index: 99;
        transform: scale(1.05);
        transition: all .2s ease-out;
      }
    }
  }
  .first {
    display: flex;
  }
  .second {
    display: flex;
  }
  .item {
    width: 250px;
    &:hover {
      z-index: 999;
      transform: scale(1.2);
      transition: all .2s ease-out;
    }
    &:not(:hover) {
      opacity: 0.7
    }
  }
}

//estilos generales
.img {
  width: 100%;
}