@import './styles/variables';

//components
@import './styles/components/header';
@import './styles/components/main';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $font-family;
}